.main {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 2fr 1fr;
}
.humidityWidget {
  grid-column: 1; /* left big column, top row */
  background-color: aqua;
}
.temperatureWidgets {
  display: grid; /* right column spanning all three rows */
  grid-column: 2;
  grid-row: 1 / 4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: right;
}
.windWidgets {
  display: grid;  /* first big column, middle row */
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
}
.timeWidget {
  display: grid;
  grid-column: 1; /* left big column and bottom row */
  grid-row: 3;
  grid-template-columns: 1fr 1fr;
  font-size: 2em;
  background-color: pink;
}
